
    $primary-text-color: #757575;
    $top-background-color: #ffffff;
    $hero-background-color: #2f303a;
    $main-background-color: #f5f5f5;
    $hero-text-color: #ffffff;
    $title-text-color: #212121;
    $accent-text-color: #2196f3;
    $logo-text-color: #000000;
    $adress-text-color: rgba(255, 255, 255, 0.6);
    $pbutton-background-color: #f5f4fa;
